assets/nodered/bin-automation-example.json
[
  {
    "id": "320894540ef0f955",
    "type": "inject",
    "z": "54332767782c55eb",
    "name": "Debug",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 270,
    "y": 300,
    "wires": [
      [
        "f0de062a5b24ae41"
      ]
    ]
  },
  {
    "id": "f0de062a5b24ae41",
    "type": "ha-get-entities",
    "z": "54332767782c55eb",
    "name": "Bins",
    "server": "b95f487355dc3df3",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "in_group",
        "value": "group.bins",
        "valueType": "str"
      }
    ],
    "output_type": "array",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 410,
    "y": 340,
    "wires": [
      [
        "bfd0a8d1bfa9713e"
      ]
    ]
  },
  {
    "id": "6de4b1c369099327",
    "type": "api-call-service",
    "z": "54332767782c55eb",
    "name": "Notify bins tomorrow",
    "server": "b95f487355dc3df3",
    "version": 3,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "mobile_app_robs_iphone",
    "entityId": "",
    "data": "{\"message\":\"The {{{ payload }}} bins need to go out today! 🗑\",\"title\":\"Bins\",\"data\":{\"actions\":[{\"action\":\"COMPLETE_BINS\",\"title\":\"Complete\"}]}}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1460,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "bfd0a8d1bfa9713e",
    "type": "function",
    "z": "54332767782c55eb",
    "name": "Filter bins for tomorrow",
    "func": "msg.payload = msg.payload.filter(e => e.state == 'tomorrow');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 340,
    "wires": [
      [
        "7deb89d42ec7061f"
      ]
    ]
  },
  {
    "id": "9cdb0a3e54ce2418",
    "type": "function",
    "z": "54332767782c55eb",
    "name": "Generate bin message",
    "func": "msg.payload = msg.payload.map(bin => bin.attributes.colour.toLowerCase()).join(\", \")\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1240,
    "y": 340,
    "wires": [
      [
        "6de4b1c369099327"
      ]
    ]
  },
  {
    "id": "490f08977a31d1ef",
    "type": "inject",
    "z": "54332767782c55eb",
    "name": "Every weekday between 17:00 to 00:00",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "*/30 17-23 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 340,
    "wires": [
      [
        "f0de062a5b24ae41"
      ]
    ]
  },
  {
    "id": "7deb89d42ec7061f",
    "type": "switch",
    "z": "54332767782c55eb",
    "name": "Contains bins",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 800,
    "y": 340,
    "wires": [
      [
        "acc21f4ecfc33692"
      ]
    ]
  },
  {
    "id": "acc21f4ecfc33692",
    "type": "api-current-state",
    "z": "54332767782c55eb",
    "name": "Check if bins completed",
    "server": "b95f487355dc3df3",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.bins_completed",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1010,
    "y": 340,
    "wires": [
      [],
      [
        "9cdb0a3e54ce2418"
      ]
    ]
  },
  {
    "id": "8c94932c8a5451f5",
    "type": "inject",
    "z": "54332767782c55eb",
    "name": "Debug",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 210,
    "y": 100,
    "wires": [
      [
        "91176dec29202bae"
      ]
    ]
  },
  {
    "id": "91176dec29202bae",
    "type": "ha-get-entities",
    "z": "54332767782c55eb",
    "name": "Bins",
    "server": "b95f487355dc3df3",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "in_group",
        "value": "group.bins",
        "valueType": "str"
      }
    ],
    "output_type": "array",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 350,
    "y": 100,
    "wires": [
      [
        "a5d7df16ce1e784f"
      ]
    ]
  },
  {
    "id": "a5d7df16ce1e784f",
    "type": "function",
    "z": "54332767782c55eb",
    "name": "Filter bins for tomorrow",
    "func": "msg.payload = msg.payload.filter(e => e.state == 'tomorrow');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 100,
    "wires": [
      [
        "c4eb1db09e18624c"
      ]
    ]
  },
  {
    "id": "c4eb1db09e18624c",
    "type": "switch",
    "z": "54332767782c55eb",
    "name": "Contains bins",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 740,
    "y": 100,
    "wires": [
      [
        "bad6b5e5a95209ae"
      ]
    ]
  },
  {
    "id": "bad6b5e5a95209ae",
    "type": "api-call-service",
    "z": "54332767782c55eb",
    "name": "Mark bins as need completing",
    "server": "b95f487355dc3df3",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.bins_completed",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 970,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "997272d3064e268c",
    "type": "inject",
    "z": "54332767782c55eb",
    "name": "Every weekday at 16:55",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "55 16 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 140,
    "wires": [
      [
        "91176dec29202bae"
      ]
    ]
  },
  {
    "id": "854511cfc2cca9ae",
    "type": "server-events",
    "z": "54332767782c55eb",
    "name": "Mobile App Notification Action Events",
    "server": "b95f487355dc3df3",
    "version": 1,
    "event_type": "mobile_app_notification_action",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "x": 310,
    "y": 480,
    "wires": [
      [
        "bde23c1a826d37f7"
      ]
    ]
  },
  {
    "id": "bde23c1a826d37f7",
    "type": "switch",
    "z": "54332767782c55eb",
    "name": "Check complete bins event",
    "property": "payload.event.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "COMPLETE_BINS",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 620,
    "y": 480,
    "wires": [
      [
        "a94aad34189f3b47"
      ]
    ]
  },
  {
    "id": "a94aad34189f3b47",
    "type": "api-call-service",
    "z": "54332767782c55eb",
    "name": "Mark bins as complete",
    "server": "b95f487355dc3df3",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_on",
    "entityId": "input_boolean.bins_completed",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 860,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "b95f487355dc3df3",
    "type": "server",
    "name": "Home Assistant",
    "version": 2,
    "addon": false,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true,
    "heartbeat": false,
    "heartbeatInterval": "30"
  }
]